<div class="main-container">

    <div class="title-container">
        <h1 class="main-title">טופס פניות הציבור</h1>
        <img class="main-logo" src="Check.svg" alt="לוגו טופס פניות הציבור"/>
    </div>

    <h2 class="sub-title">פרטי הפניה</h2>

    <!-- <div class="form-container" [formGroup]="form"> -->

    <!-- </div> -->
     <div class="form-container" [formGroup]="form">

    <div class="description-text-container">
         <img src="description-icon.svg"/>

        <div class="description-text">
            יש לכלול תיאור נושא ומהות הפניה.
            יש לנסח באופן תמציתי וברור את מה שטוענים או מבקשים,
            תוך ציון פרטים רלוונטיים לצורך טיפול בפניה ומועדים של האירועים בהם עוסקת הפניה.
        </div>
    </div>

    <div class="form-field-container">

        <label>מהות הפניה</label>

        <textarea
            id="contact-description-textarea"
            formControlName="contactDescription"
            maxlength="7000"
            rows="8"
            (input)="OnTextAreaChanged($event)">
        </textarea>

        <div class="remaining-text">
            {{ textAreaRemainingCharacters }}
        </div>

    </div>

    <div class="form-row">

        <div class="form-field-container">

            <label>מספר תיק בית משפט</label>

            <input
                type="text"
                formControlName="courtCaseNumber">

        </div>

        <div class="form-field-container">

            <label>בית משפט</label>

            <mat-form-field appearance="outline" class="dropdown-element">

                <mat-select
                    formControlName="courthouse"
                    [value]="selectedCourt"
                    (selectionChange)="OnCourtSelectionChanged($event)">

                    <mat-option
                        *ngFor="let court of courtsList"
                        [value]="court">

                        {{ court }}

                    </mat-option>

                </mat-select>

            </mat-form-field>

        </div>

    </div>

</div>

    <div class="button-container">

        <div class="back-button-container">
            <img src="back-arrow.svg"/>
            <button class="prev-button" (click)="GoToPrevPage()">חזרה</button>
        </div>
        
        <button class="next-button" (click)="GoToNextStep()">המשך</button>
    </div>

</div>